body {
  font-family: 'Aleo', serif;
  background-color: #001f34;
  color: #e6ecff;
}

/*navbar adjustments from the bootstrap norm*/
.mr-auto, .mx-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar-dark .navbar-brand {
  color: black;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.bg-dark {
  background-color: transparent !important;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: #495057;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navbar-dark .navbar-nav .nav-link.landing-link {
  color: #9d9fa0;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navbar-dark .navbar-nav .nav-link.landing-link:hover {
  color: #e6ecff;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../images/my_burger_bar.png);
}

.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border: 0;
}

.landing-container {
  background: url("../images/webby.jpg") no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  text-align: center;
  width: 100%;
}

.landing-container h1 {
  font-size: 5rem;
  text-align: center;
  padding-left: 2rem;
}

@media (max-width: 600px) {
  .landing-container h1 {
    font-size: 3rem;
    padding-left: 0;
    padding-bottom: 1rem;
  }
}

.landing-container .landing-content {
  width: 80%;
  margin: 0 auto;
}

.callout-container {
  background: url("../images/mattTitmuss.jpg") no-repeat center center fixed;
  height: 50vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #495057;
  color: white;
  font-size: 12px;
  text-align: center;
}

footer p {
  padding-top: 16px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
  background-color: #333333;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: .6rem;
  border-radius: 2px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer li a:hover {
  background: radial-gradient(#111111, #00000000, #00000000);
  text-decoration: none;
  color: white;
}

footer img {
  margin: 5px;
}

footer .fab, footer .fas {
  margin: 8px;
  font-size: 1.4rem;
  background-color: white;
  color: #333333;
  padding: .5rem;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

footer .fab:hover, footer .fas:hover {
  color: #9d9fa0;
  background-color: #333333;
}

.contactInfo {
  margin-left: 10px;
}

.contactInfo .fas, .contactInfo .fab {
  margin-right: 5px;
  margin: 8px;
  font-size: 1.4rem;
  background-color: white;
  color: #333333;
  padding: .5rem;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.contactInfo .fas:hover, .contactInfo .fab:hover {
  color: #9d9fa0;
  background-color: #333333;
}

.contactInfo .button {
  padding: .3rem .5rem;
}

.contactMe p {
  font-size: 1.1em;
  text-align: center;
}

.fab, .fas {
  margin: 8px;
  font-size: 1.4rem;
  background-color: white;
  color: #333333;
  padding: .5rem;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fab:hover, .fas:hover {
  color: #9d9fa0;
  background-color: #333333;
}

.row {
  padding-left: 15px;
}

.button {
  padding: 1rem 2rem;
  border: 1px solid #001f3481;
  border-radius: 6px;
  color: #001f34;
  background-color: #9d9fa0;
  text-decoration: none;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.button:hover {
  color: #9d9fa0;
  background-color: #001f34;
  text-decoration: none;
  border: 1px solid #9d9fa081;
}

.regLink {
  color: #80c0ff;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-decoration: underline;
}

.regLink:hover {
  color: #00c0ff;
}
/*# sourceMappingURL=main.css.map */