.callout-container {
    background: url('../images/mattTitmuss.jpg') no-repeat center center fixed;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}