.contactInfo {
    margin-left: 10px;

    .fas, .fab {
        margin-right: 5px;
        @include icons;
        @include link;
    }

    .button {
        padding: .3rem .5rem;
    }
}

    

.contactMe p {
      font-size: 1.1em;
      text-align: center;
  }