  .contactInfo {
    margin-left: 10px;

    img {
        margin-right: 5px;
    }

    a {
        padding: 3px;
        margin: 15px;
        border: 2px solid black;
        background-color: #555;
        text-decoration: none;
        color: whitesmoke;
        border-radius: 10%;
        font-size: 1em;
    }

    a:hover {
            padding: 20px;
            margin: 15px;
            border: 3px solid black;
            background-color: black;
            color: #555;
        }
    }

  .contactMe p {
      font-size: 1.1em;
      text-align: center;
  }