.landing-container {
    background: url("../images/webby.jpg") no-repeat center center fixed;
        height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    text-align: center;
    width: 100%;

    h1 {
        font-size: 5rem;
        text-align: center;
        padding-left: 2rem;

        @include smallScr {
            font-size: 2rem;
        }
    }

    .landing-content {
        width: 80%;
        margin: 0 auto;
        
    }
}